<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>What is my IP address? | {{ .Host }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description" property="og:description"
			content="Look up your and others public IP addresses, GeoIP and ASN - {{.IP}}"
		/>
		<meta property="og:title" content="What is my IP address?" />
		<meta property="og:type" content="website" />
		<meta name="color-scheme" content="light dark" />
		<link rel="stylesheet" href="https://slatecave.net/assets/site_slatecave/slatecave_v3.css" type="text/css" />
		<style>
			/*A bit Hacky*/
			input {
				display: block;
				font-size: 1.2rem;
				font-weight: bold;
			    padding: var(--button-pad);
			    margin: .07em .2ch;
			}

			input[type="submit"]:hover {
				outline: unset;
				box-shadow: var(--shadow-button-hover);
				border: var(--button-border-hover);
			}

		</style>
	</head>
	<body>
	<header>
		<nav>
			<a class="skiplink" href="#content">Skip Site Navigation</a>
			<a class="sitename" href="https://{{.Host}}">{{ .Host }}</a>
			<ul class="link-list row">
				<li><a href="https://v4.echoip.slatecave.net" title="Query Legacy IP Address">Your IPv4</a></li>
				<li><a href="https://v6.echoip.slatecave.net" title="Query Real IP Address">Your IPv6</a></li>
				<li>
					<form action="https://{{.Host}}/" method="GET">
						<input type="text" name="ip" title="Search for another IP Address" value="{{.IP}}" style="display: inline"></input><input type="submit" value="Show IP Information" style="display: inline"></input>
					</form>
				</li>
			</ul>
		</nav>
	</header>
	<main id="content">
		<h1><code>{{ .IP }}</code></h1>
		<section>
			<h2>What do we know about this IP address?</h2>
				<table class="info-table">
					<tr>
						<th scope="row">IP&nbsp;address</th>
						<td>{{ .IP }}</td>
					</tr>
					<tr>
						<th scope="row">IP&nbsp;address (decimal)</th>
						<td>{{ .IPDecimal }}</td>
					</tr>
					{{ if .Hostname }}
					<tr>
						<th scope="row">Hostname</th>
						<td>{{ .Hostname }}</td>
					</tr>
					{{ end }}
					{{ if .Country }}
					<tr><th colspan="2">Geoip Information</th></tr>
					<tr>
						<th scope="row">Country</th>
						<td>{{ .Country }}</td>
					</tr>
					{{ end }} {{ if .CountryISO }}
					<tr>
						<th scope="row">Country (ISO code)</th>
						<td>{{ .CountryISO }}</td>
					</tr>
					{{ end }} {{ if .CountryEU }}
					<tr>
						<th scope="row">In EU?</th>
						<td>{{ .CountryEU }}</td>
					</tr>
					{{ end }} {{ if .RegionName }}
					<tr>
						<th scope="row">Region</th>
						<td>{{ .RegionName }}</td>
					</tr>
					{{ end }} {{ if .RegionCode }}
					<tr>
						<th scope="row">Region&nbsp;code</th>
						<td>{{ .RegionCode }}</td>
					</tr>
					{{ end }} {{ if .MetroCode }}
					<tr>
						<th scope="row">Metro code</th>
						<td>{{ .MetroCode }}</td>
					</tr>
					{{ end }} {{ if .PostalCode }}
					<tr>
						<th scope="row">Postal&nbsp;code</th>
						<td>{{ .PostalCode }}</td>
					</tr>
					{{ end }} {{ if .City }}
					<tr>
						<th scope="row">City</th>
						<td>{{ .City }}</td>
					</tr>
					{{ end }} {{ if .Latitude }}
					<tr>
						<th scope="row">Latitude</th>
						<td>{{ .Latitude }}</td>
					</tr>
					{{ end }} {{ if .Longitude }}
					<tr>
						<th scope="row">Longitude</th>
						<td>{{ .Longitude }}</td>
					</tr>
					{{ end }} {{ if .Timezone }}
					<tr>
						<th scope="row">Timezone</th>
						<td>{{ .Timezone }}</td>
					</tr>
					{{ end }} {{ if .ASN }}
					<tr>
						<th scope="row">ASN</th>
						<td>{{ .ASN }}</td>
					</tr>
					{{ end }} {{ if .ASNOrg }}
					<tr>
						<th scope="row">ASN (organization)</th>
						<td>{{ .ASNOrg }}</td>
					</tr>
					<tr><th colspan="2">About your UserAgent (unreleated to your actual IP-Address)</th></tr>
					{{ end }} {{ if .UserAgent }} {{ if .UserAgent.Comment }}
					<tr>
						<th scope="row">User&nbsp;agent</th>
						<td>{{ .UserAgent.Product }}/{{ .UserAgent.Version }}</td>
					</tr>
					{{ end }} {{ if .UserAgent.Comment }}
					<tr>
						<th scope="row">User&nbsp;agent: Comment</th>
						<td>{{ .UserAgent.Comment }}</td>
					</tr>
					{{ end }} {{ if .UserAgent.RawValue }}
					<tr>
						<th scope="row">User&nbsp;agent: Raw</th>
						<td>{{ .UserAgent.RawValue }}</td>
					</tr>
					{{ end }} {{ end }}
				</table>
				{{ if .Country }}
				<p><small>
					The GeopIP and ASN information is provided by the GeoLite2 database created by
					<a target="_blank" href="https://www.maxmind.com">MaxMind</a>.
				</small></p>
				{{ end }} {{ if .Latitude }}
				<p class="button-paragraph"><a target="_blank" href="https://www.openstreetmap.org/export/embed.html?bbox={{ .BoxLonLeft }}%2C{{ .BoxLatBottom }}%2C{{ .BoxLonRight }}%2C{{ .BoxLatTop }}&amp;layer=mapnik&amp;marker={{ .Latitude }}%2C{{ .Longitude }}">Show Location on Map (openstreetmap.org)</a></p>
				<!--
					<h2>Map</h2>
					<iframe
						width="100%"
						height="350"
						frameborder="0"
						scrolling="no"
						marginheight="0"
						marginwidth="0"
						src="https://www.openstreetmap.org/export/embed.html?bbox={{ .BoxLonLeft }}%2C{{ .BoxLatBottom }}%2C{{ .BoxLonRight }}%2C{{ .BoxLatTop }}&amp;layer=mapnik&amp;marker={{ .Latitude }}%2C{{ .Longitude }}"
					></iframe>
				-->
				{{ end }}
			</section>
			<section>
				<h2>Other services</h2>
				<p>Look up <code>{{.IP}}</code> …</p>
				<ul class="link-list">
					<li><a target="_blank" href="https://apps.db.ripe.net/db-web-ui/query?bflag=true&dflag=false&rflag=true&searchtext={{ .IP }}&source=RIPE">… in the RIPE Database</a></li>
					<li><a target="_blank" href="https://apps.db.ripe.net/db-web-ui/query?bflag=true&dflag=false&rflag=true&searchtext={{ .IP }}&source=GRS">… in the RIPE Global Resources Service</a></li>
					<li><a target="_blank" href="https://www.shodan.io/host/{{.IP}}">… on shodan.io <small>(limited querys per day, wants an account)</small></a></li>
					<li><a target="_blank" href="https://search.censys.io/search?resource=hosts&sort=RELEVANCE&per_page=25&virtual_hosts=EXCLUDE&q=ip%3D{{.IP}}">… on search.censys.io <small>(10 querys per day, wants an account)</small></a></li>
					<li><a target="_blank" href="https://www.virustotal.com/gui/ip-address/{{.IP}}">… on virustotal.com <small>(broken with v6 for some reason)</small></a></li>
				</ul>
				{{ if .ASN }}
				<p>Look up <code>{{.ASN}}</code> {{ if .ASNOrg }}({{.ASNOrg}}){{ end }} …</p>
				<ul class="link-list">
					<li><a target="_blank" href="https://bgp.he.net/{{.ASN}}">… on Hurricane Electric BGP Toolkit</a></li>
					<li><a target="_blank" href="https://radar.qrator.net/as{{slice .ASN 2}}">… on radar.qrator.net (BGP Tool)</a></li>
					<li><a target="_blank" href="https://search.censys.io/search?resource=hosts&sort=RELEVANCE&per_page=25&virtual_hosts=EXCLUDE&q=autonomous_system.asn%3D{{slice .ASN 2}}">… on search.censys.io <small>(10 querys per day, wants an account)</small></a></li>
					<li><a target="_blank" href="https://query.wikidata.org/#%23Select%20Wikipedia%20articles%20that%20belong%20to%20a%20given%20asn%0ASELECT%20DISTINCT%20%3Fitem%20%3Fwebsite%20%3FitemLabel%20%3FitemDescription%20%3Flang%20%3Farticle%20WHERE%20%7B%0A%20%20VALUES%20%3Fasn%20%7B%0A%20%20%20%20%22{{ slice .ASN 2 }}%22%0A%20%20%7D%0A%20%20%3Fasn%20%5Ewdt%3AP3797%20%3Fitem.%0A%20%20OPTIONAL%20%7B%20%3Fitem%20wdt%3AP856%20%3Fwebsite.%20%7D%0A%20%20OPTIONAL%20%7B%0A%20%20%20%20%3Fitem%20%5Eschema%3Aabout%20%3Farticle.%0A%20%20%20%20%3Farticle%20schema%3AisPartOf%20_%3Ab64.%0A%20%20%20%20_%3Ab64%20wikibase%3AwikiGroup%20%22wikipedia%22.%0A%20%20%20%20%3Farticle%20schema%3AinLanguage%20%3Flang%3B%0A%20%20%20%20%20%20schema%3Aname%20%3Farticlename.%0A%20%20%20%20FILTER(((%3Flang%20%3D%20%22%5BAUTO_LANGUAGE%5D%22)%20%7C%7C%20(%3Flang%20%3D%20%22en%22))%20%7C%7C%20(%3Flang%20%3D%20%22de%22))%0A%20%20%7D%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%0A%20%20%20%20bd%3AserviceParam%20wikibase%3Alanguage%20%22%5BAUTO_LANGUAGE%5D%2Cen%22.%0A%20%20%20%20%3Fitem%20rdfs%3Alabel%20%3FitemLabel%3B%0A%20%20%20%20%20%20schema%3Adescription%20%3FitemDescription.%0A%20%20%7D%0A%7D%0AORDER%20BY%20(UCASE(%3FitemLabel))">… on Wikidata and Wikipedia <small>(Press the run buttonin the sidebar to get results)</small></a></li>
				</ul>
				{{ end }}
				<p><small><a target="_blank" href="https://codeberg.org/slatian/template.echoip/issues">A link seems broken or you have an idea or improvement?</a></small></p>
			</section>
			{{ template "faq" . }}
		</main>
	</body>
</html>
