{{ define "faq" }}
<section>
	<h2>How do I get this programmatically?</h2>
	<p>Just the IP address:</p>
	<pre><code>curl https://{{.Host}}</code></pre>
	<p>The above table as json:</p>
	<pre><code>curl https://{{.Host}}/json</code></pre>
</section>
<section>
	<h2>FAQ</h2>
	<h3>How do I force IPv4 or IPv6 lookup?</h3>
	<p>
		echoip.slatecave.net supports the
		<i>v4</i> and <i>v6</i> subdomains. IPv4 or IPv6 also can be
		forced by passing the appropiate flag to your client, e.g
		<code>curl -4</code> or <code>curl -6</code>.
	</p>
	<h3>Can I force getting JSON?</h3>
	<p>
		Setting the <code>Accept: application/json</code> header works
		as expected.
	</p>

	<h3>Is automated use of this service permitted?</h3>
	<p>
		I can't and won't stop you, but please be civil, nftables dragon and fail2ban dragon are good friends and they both don't like assholes!
	</p>

	<h3>Can I run my own service?</h3>
	<p>
		Yes, the source code and documentation is available on
		<a href="https://github.com/mpolden/echoip">GitHub</a>.
		This custom template/theme can be found on <a href="https://codeberg.org/slatian/template.echoip">Codeberg</a>.
	</p>
</section>
{{ end }}
